@use './variables' as *;

#about {
    min-height: 60vh;
    width: 100%;
}

.aboutContent {
    margin: auto;
    display: flex;
    justify-content: center;    
    margin-top: 50px;
}

.aboutImgContainer {
    width: 25%;
}

.aboutImage {
    width: 100%;
    border-radius: 50%;
    border: solid 5px black;
}

.aboutContentContainer {
    width: 75%;
    padding: 1rem 2rem;
    h2 {
        margin-top: 0;
    }
    p {
        font-size: 1.3rem;
    }
}

.aboutTriangleContainer {
    width: 99.95%;
    min-height: 500px;
    position: absolute;
    overflow: hidden;
}

.aboutTriangle {
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

@media (max-width: 900px) {
    .aboutContent {
        flex-direction: column;
        align-items: center;
    }
    .aboutImgContainer {
        width: 50%;
        margin-bottom: 50px;
    }
    .aboutContentContainer {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .aboutImgContainer {
        width: 90%;
    }
    .aboutContentContainer {
        margin-top: 50px;
    }
}