@use './variables' as *;

html {
    scroll-behavior: smooth;
}
.darkMode {
    background-color: black;
    color: white;
    max-width: 1920px;
    margin: auto;
}

.center {
    margin: auto;
    text-align: center;
}

.innerWrapper {
    width: 80%;        
    margin: 100px auto;
}

li {
    list-style: none;
}

i {
    transition: 0.5s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 480px) {
    .innerWrapper {
        width: 90%;
    }
}