@use './variables' as *;

#projects {
    min-height: 40vh;
    p{text-shadow: none;}
}
.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.project {
    display: flex;
    width: 80%;
    background-color: $secondaryColor;
    padding: 50px;
}

.left {
    flex-direction: row-reverse;
    padding-left: 100px;
    .projectContentContainer {
        text-align: right;
        padding-right: 2rem;
    }
    .projectTools {
        justify-content: flex-end;
    }
}

.right {
    margin-left: auto;
    padding-right: 100px;
    .projectContentContainer {
        padding-left: 2rem;
    }
}

.projectImgContainer {
    width: 50%;

    img {
       width: 100%;
       border-radius: 1rem;
    }
}

.projectContentContainer {
    width: 50%;
    
    h3{
        margin-top: 0;
    }
}

.projectLinks {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 1rem;
    a {
        transition: 0.3s ease-in-out;
    }
    a:hover {
        color: lightblue;
        transform: scale(1.1);
    }
}

.projectTools {
    display: flex;
    
    gap: 20px;
    i {
        font-size: 2.2rem;
        z-index: 1;
        &:hover {
            color: lightblue;
            transform: scale(1.5);
        }
    }
}

@media (max-width: 1080px) {
    .project {
        padding: 2rem;
    }
    .left {
        padding-left: 5rem;
    }
    .right {
        padding-right: 5rem;
    }
}

@media (max-width: 900px) {
    #projects {
        h3{
            text-align: center;
        }
    }
    .project {
        width: 95%;
        flex-direction: column;
    }

    .left {
        border-radius: 0 1rem 1rem 0;
    }

    .right {
        border-radius: 1rem 0 0 1rem;
    }

    .left, .right {
        padding: 1.5rem;
    }

    .projectImgContainer {
        width: 70%;
        margin: auto;
    }

    .left {
        .projectContentContainer {
            text-align: left;
            padding-right: 0;
        }
        .projectTools {
            justify-content: flex-start;
        }
    }

    .right .projectContentContainer {
        padding-left: 0;
    }
    .projectContentContainer {
        width: 100%;        
        
        h3 {
            margin-top: 32px;
        }
    }

    .projectTools {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .projectImgContainer {
        width: 100%;
    }

    .projectTools i{
        pointer-events: none;
    }
}