@use './variables' as *;

#projects {
    min-height: 40vh;
    padding: 0;
    
    h2 {
        width: 80%;
        margin: auto;
        padding: 3rem 0;
    }
}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.project {
    display: flex;
    width: 80%;
    background-color: $secondaryColor;
    padding: 50px;
}

.left {
    flex-direction: row-reverse;
    padding-left: 100px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
    .projectContentContainer {
        text-align: right;
        padding-right: 2rem;
    }

    .projectTools {
        justify-content: flex-end;
    }
}

.right {
    margin-left: auto;
    padding-right: 100px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
    .projectContentContainer {
        padding-left: 2rem;
    }
}

.projectImgContainer {
    width: 50%;

    img {
        width: 100%;
        border-radius: 1rem;
    }
}

.projectContentContainer {
    width: 50%;
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.projectLinks {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #fff;
    a {
        transition: 0.3s ease-in-out;
    }

    a:hover {
        color: lightblue;
        transform: scale(1.1);
    }
}

.projectTools {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    img {
        height: 2.2rem;
        margin: 0;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
        &:hover {
            transform: scale(1.5);
        filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
        }
    }
}

@media (max-width: 1080px) {
    .project {
        padding: 2rem;
    }

    .left {
        padding-left: 5rem;
    }

    .right {
        padding-right: 5rem;
    }
}

@media (max-width: 900px) {
    #projects {
        h2 {
            width: 90%;
            padding: 2rem 0;
        }
        h3 {
            text-align: center;
        }
    }

    .project {
        width: 95%;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .left {
        border-radius: 0 1rem 1rem 0;
        box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
    }

    .right {
        border-radius: 1rem 0 0 1rem;
        box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
    }

    .left,
    .right {
        padding: 1.5rem;
    }

    .projectImgContainer {
        width: 70%;
        margin: auto;
    }

    .left {
        .projectContentContainer {
            text-align: left;
            padding-right: 0;
        }

        .projectTools {
            justify-content: flex-start;
        }
    }

    .right .projectContentContainer {
        padding-left: 0;
    }

    .projectContentContainer {
        width: 100%;

        h3 {
            margin-top: 32px;
        }
    }

    .projectTools {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .projectImgContainer {
        width: 100%;
    }

    .projectTools i {
        pointer-events: none;
    }
}