#skills {
    min-height: 40vh;
    width: 80%;
    margin: auto;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    li {
        width: 25%;
        display: flex;
        align-items: space-between;
        justify-content: center;
        margin-bottom: 50px;
    }

    i {
        font-size: 5rem;
    }
}

.skillsContent {
    padding: 0;
}

@media (max-width: 900px) {
    #skills {
        li {
            width: 33%;
        }
    }
}


@media (max-width: 480px) {
    #skills {
        width: 90%;
    }
}