@use './variables' as *;

#skills {
    min-height: 50vh;
    margin: auto;
    background-image: url("../assets/images/secondaryBar.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    fieldset {
        border: solid white 3px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    legend {
        margin: auto;
    }

    li {
        width: 25%;
        display: flex;
        align-items: space-between;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 25px;
    }

    li:hover {
        span {
            color: lightblue;
            opacity: 1;
        }
    }

    span {
        margin-top: 20px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
}

#skills.darkMode, #skills.lightMode {
    li:hover .skillIcon {
        transform: scale(1.2);
        filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
    }
}

#skills.darkMode {
    .skillIcon {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
    }
}

#skills.lightMode {
    fieldset {
        border-color: black;
    }
    .skillIcon {
        filter: invert(14%) sepia(0%) saturate(648%) hue-rotate(159deg) brightness(93%) contrast(89%);
    }
}

.skillIcon {
    height: 5rem;
    margin: auto;
    transition: 0.5s;
}

@media (max-width: 900px) {
    #skills {
        li {
            width: 33%;
        }
    }
}

@media (max-width: 480px) {
    #skills {
        ul {
            margin-bottom: -20px;
        }

        li {
            margin-bottom: 20px;
        }

        .skillIcon {
            height: 3rem;
        }
    }
}