.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
    z-index: 1;
}

.tooltipText {
    font-family: arial;
    font-size: 1rem;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    padding: 0.5rem;
    font-weight: normal;
}

// tooltips adds extra blank space on smaller screens, also unnecessary for touchscreen
@media (max-width: 480px) {
    .tooltipText {
        display: none;
    }
}