@use './variables' as *;

@font-face {
    font-family: "Roboto Regular";
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}

h1,
h2,
h3, .jobTitle span {
    font-family: $headingFont, Garamond;
    
}

h1 {
    font-size: 8rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

h2 {
    font-size: 3rem;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

h3,  .jobTitle span {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p {
    font-family: $primaryFont, serif;
    font-size: 1.2rem;
    text-shadow: none;
}

strong {
    color: $accentColorTwo;
}

@media (max-width: 720px) {
    h2 {
        font-size: 2.2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 6rem;
    }
}