@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header,
section,
footer {
  margin: 0;
  padding: 1px;
}

html {
  scroll-behavior: smooth;
}

.darkMode {
  background-color: black;
  color: white;
  max-width: 1920px;
  margin: auto;
}

.center {
  margin: auto;
  text-align: center;
}

.innerWrapper {
  width: 80%;
  margin: 100px auto;
}

li {
  list-style: none;
}

i {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

#backToTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.backToTopBtn {
  background-color: #C9C19F;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}

@media (max-width: 480px) {
  .innerWrapper {
    width: 90%;
  }
}
h1 {
  font-size: 8rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  padding: 0 0.35rem;
}

p {
  font-size: 1.2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 720px) {
  h2 {
    font-size: 2.2rem;
  }
}
header {
  height: 10vh;
  background-color: #7F5A83;
}

nav {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}
nav ul li {
  list-style: none;
  font-size: 1.7rem;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul li {
    font-size: 1.2rem;
  }
}
#intro {
  min-height: 90vh;
  height: 300px;
  background-image: linear-gradient(188deg, #7F5A83 30%, black calc(30% + 2px));
}
#intro .innerWrapper {
  margin-top: 250px;
}

#about {
  min-height: 40vh;
  width: 100%;
}

.aboutContent {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.aboutImgContainer {
  width: 25%;
}

.aboutImage {
  width: 100%;
  border-radius: 50%;
  border: solid 5px black;
}

.aboutContentContainer {
  width: 75%;
  padding: 1rem 2rem;
}
.aboutContentContainer h2 {
  margin-top: 0;
}

.aboutTriangleContainer {
  width: 99.95%;
  min-height: 500px;
  position: absolute;
  overflow: hidden;
}

.aboutTriangle {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

@media (max-width: 900px) {
  .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutImgContainer {
    width: 50%;
    margin-bottom: 50px;
  }
  .aboutContentContainer {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .aboutImgContainer {
    width: 90%;
  }
  .aboutContentContainer {
    margin-top: 50px;
  }
}
#skills {
  min-height: 40vh;
  margin: auto;
  background-image: url("../assets/images/secondaryBar.png");
  background-position: center;
}
#skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
#skills li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
#skills li:hover i {
  color: lightblue;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#skills li:hover span {
  color: lightblue;
  opacity: 1;
}
#skills span {
  margin-top: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#skills i {
  font-size: 5rem;
}

@media (max-width: 900px) {
  #skills li {
    width: 33%;
  }
}
@media (max-width: 480px) {
  #skills i {
    font-size: 3rem;
  }
  #skills span {
    display: none;
  }
}
#projects {
  min-height: 40vh;
}

#contact {
  min-height: 40vh;
  background-image: linear-gradient(174deg, black 50%, #7F5A83 calc(50% + 2px));
}
#contact li {
  font-size: 3rem;
}
#contact li:hover i {
  color: lightblue;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm {
  width: 60%;
  background-color: #A188A6;
  padding: 50px;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
}
.contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.contactForm form input {
  height: 2rem;
}
.contactForm form textarea {
  height: 10rem;
  resize: none;
}
.contactForm form button {
  margin: 10px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: white;
  color: black;
  border: none;
  padding: 1rem 2rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.contactLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}

@media (max-width: 480px) {
  .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactForm {
    width: 100%;
    padding: 25px;
  }
  .contactLinks ul {
    padding: 0;
    margin-top: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
footer {
  background-color: #7F5A83;
  color: #fff;
  font-size: 1.2rem;
}