@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header,
section,
footer {
  margin: 0;
  padding: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  max-width: 1920px;
  margin: auto;
}

body.darkMode {
  background-color: #1b1b1b;
  color: white;
}

body.lightMode {
  background-color: lavender;
  color: #2b2b2b;
}

.center {
  margin: auto;
  text-align: center;
}

.innerWrapper {
  width: 80%;
  margin: 100px auto;
}

li {
  list-style: none;
}

i {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

#backToTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
#backToTop .skillIcon {
  width: 2rem;
  padding-bottom: 1.5rem;
}

.backToTopBtn {
  background-color: rgba(201, 193, 159, 0.4);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
}

@media (max-width: 480px) {
  .innerWrapper {
    width: 90%;
  }
  #backToTop {
    right: 1rem;
    bottom: 1rem;
  }
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
h1,
h2,
h3, .jobTitle span {
  font-family: "Figtree", Garamond;
}

h1 {
  font-size: 8rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 3rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

h3, .jobTitle span {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  font-family: "Roboto Regular", serif;
  font-size: 1.2rem;
  text-shadow: none;
}

strong {
  color: #C9C19F;
}

.smallBreak {
  display: none;
}

@media (max-width: 720px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 6rem;
  }
  .smallBreak {
    display: block;
  }
}
header {
  height: 10vh;
  background-color: #7F5A83;
}

nav {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 3rem;
}
nav ul li {
  list-style: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: white;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: -0.5rem;
  left: 0;
  background-color: lightblue;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

nav ul li:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media (max-width: 900px) {
  nav ul {
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  nav ul li {
    font-size: 1.5rem;
  }
}
#intro {
  min-height: 90vh;
  height: 300px;
}
#intro .innerWrapper {
  margin-top: 250px;
}
#intro .jobTitle {
  padding-left: 0.3rem;
}
#intro .jobTitle span {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(120deg, rgba(201, 145, 223, 0.6) 0%, rgba(103, 140, 148, 0.6) 100%);
  background-repeat: no-repeat;
  background-size: 100% 25%;
  background-position: 0 120%;
}

#intro.darkMode {
  background-image: linear-gradient(188deg, #7F5A83 30%, #1b1b1b calc(30% + 2px));
}
#intro.darkMode h1,
#intro.darkMode h3 {
  color: white;
}

#intro.lightMode {
  background-image: linear-gradient(188deg, #7F5A83 30%, lavender calc(30% + 2px));
}

#about {
  min-height: 60vh;
  width: 100%;
  padding: 0;
}

.aboutContent {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.aboutImgContainer {
  width: 25%;
  margin-top: 50px;
}

.aboutImage {
  width: 100%;
  border-radius: 50%;
  border: solid 5px black;
}

.aboutContentContainer {
  width: 75%;
  padding: 1rem 2rem;
}
.aboutContentContainer h2 {
  margin-top: 0;
}
.aboutContentContainer p {
  font-size: 1.3rem;
}

.aboutTriangleContainer {
  width: 99.95%;
  min-height: 500px;
  position: absolute;
  overflow: hidden;
}

.aboutTriangle {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

@media (max-width: 900px) {
  .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutImgContainer {
    width: 50%;
    margin-bottom: 50px;
  }
  .aboutContentContainer {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .aboutImgContainer {
    width: 90%;
    margin-top: 50px;
  }
  .aboutContentContainer {
    margin-top: 50px;
    padding: 0.5rem;
  }
}
#skills {
  min-height: 50vh;
  margin: auto;
  background-image: url("../assets/images/secondaryBar.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#skills fieldset {
  border: solid white 3px;
}
#skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}
#skills legend {
  margin: auto;
}
#skills li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
#skills li:hover span {
  color: lightblue;
  opacity: 1;
}
#skills span {
  margin-top: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#skills.darkMode li:hover .skillIcon, #skills.lightMode li:hover .skillIcon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
          filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
}

#skills.darkMode .skillIcon {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
}

#skills.lightMode fieldset {
  border-color: black;
}
#skills.lightMode .skillIcon {
  -webkit-filter: invert(14%) sepia(0%) saturate(648%) hue-rotate(159deg) brightness(93%) contrast(89%);
          filter: invert(14%) sepia(0%) saturate(648%) hue-rotate(159deg) brightness(93%) contrast(89%);
}

.skillIcon {
  height: 5rem;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 900px) {
  #skills li {
    width: 33%;
  }
}
@media (max-width: 480px) {
  #skills ul {
    margin-bottom: -20px;
  }
  #skills li {
    margin-bottom: 20px;
  }
  #skills .skillIcon {
    height: 3rem;
  }
}
#projects {
  min-height: 40vh;
  padding: 0;
}
#projects h2 {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  background-color: #A188A6;
  padding: 50px;
}

.left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 100px;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
}
.left .projectContentContainer {
  text-align: right;
  padding-right: 2rem;
}
.left .projectTools {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right {
  margin-left: auto;
  padding-right: 100px;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
}
.right .projectContentContainer {
  padding-left: 2rem;
}

.projectImgContainer {
  width: 50%;
}
.projectImgContainer img {
  width: 100%;
  border-radius: 1rem;
}

.projectContentContainer {
  width: 50%;
  color: #fff;
}
.projectContentContainer h3 {
  margin-top: 0;
}

.projectLinks {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #fff;
}
.projectLinks a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projectLinks a:hover {
  color: lightblue;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projectTools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.projectTools img {
  height: 2.2rem;
  margin: 0;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
}
.projectTools img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
          filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
}

@media (max-width: 1080px) {
  .project {
    padding: 2rem;
  }
  .left {
    padding-left: 5rem;
  }
  .right {
    padding-right: 5rem;
  }
}
@media (max-width: 900px) {
  #projects h2 {
    width: 90%;
    padding: 2rem 0;
  }
  #projects h3 {
    text-align: center;
  }
  .project {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
  }
  .left {
    border-radius: 0 1rem 1rem 0;
    -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
  }
  .right {
    border-radius: 1rem 0 0 1rem;
    -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
  }
  .left,
.right {
    padding: 1.5rem;
  }
  .projectImgContainer {
    width: 70%;
    margin: auto;
  }
  .left .projectContentContainer {
    text-align: left;
    padding-right: 0;
  }
  .left .projectTools {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .right .projectContentContainer {
    padding-left: 0;
  }
  .projectContentContainer {
    width: 100%;
  }
  .projectContentContainer h3 {
    margin-top: 32px;
  }
  .projectTools {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .projectImgContainer {
    width: 100%;
  }
  .projectTools i {
    pointer-events: none;
  }
}
#contact {
  min-height: 40vh;
  margin-bottom: -5px;
}
#contact .skillIcon {
  width: 3rem;
}
#contact li {
  font-size: 3rem;
}

#contact.darkMode {
  background-image: linear-gradient(174deg, #1b1b1b 50%, #7F5A83 calc(50% + 2px));
}
#contact.darkMode .skillIcon {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
}
#contact.darkMode .skillIcon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
          filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
}

#contact.lightMode {
  background-image: linear-gradient(174deg, lavender 50%, #7F5A83 calc(50% + 2px));
}
#contact.lightMode .skillIcon {
  -webkit-filter: invert(14%) sepia(0%) saturate(648%) hue-rotate(159deg) brightness(93%) contrast(89%);
          filter: invert(14%) sepia(0%) saturate(648%) hue-rotate(159deg) brightness(93%) contrast(89%);
}
#contact.lightMode .skillIcon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
          filter: invert(89%) sepia(9%) saturate(1075%) hue-rotate(161deg) brightness(95%) contrast(89%);
}

.contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm {
  width: 60%;
  background-color: #A188A6;
  padding: 50px;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
}
.contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.contactForm form input {
  height: 3rem;
  padding: 0.5rem 1rem;
}
.contactForm form textarea {
  height: 10rem;
  resize: none;
  padding: 1rem;
}
.contactForm form button {
  margin: 10px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  text-transform: uppercase;
  font-family: "Figtree";
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: #2b2b2b;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  outline: inherit;
}

.contactLinks {
  width: 40%;
  color: #fff;
}
.contactLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  padding: 3rem;
}

.exitBlurb {
  margin-left: 3rem;
  padding: 1rem 2rem;
  background-color: #A188A6;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.3);
}
.exitBlurb p {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
}

@media (max-width: 1440px) {
  .contactLinks ul {
    margin-top: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
  }
}
@media (max-width: 1080px) {
  #contact.lightMode .contactLinks {
    color: #2b2b2b;
  }
  .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactForm {
    width: 100%;
    padding: 25px;
  }
  .contactLinks {
    width: 100%;
  }
  .contactLinks ul {
    padding: 0;
    margin-top: 2rem;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .exitBlurb {
    padding: 2rem;
    margin: 0;
  }
  .exitBlurb p {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .contactForm,
.exitBlurb {
    border-radius: 1rem;
    -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 20px 20px rgba(0, 0, 0, 0.1);
  }
  .contactForm button {
    border-radius: 1rem;
  }
}
footer {
  background-color: #7F5A83;
  color: #fff;
  font-size: 1.2rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  top: -1.5rem;
  left: 1.5rem;
  z-index: 1;
}

.tooltipText {
  font-family: arial;
  font-size: 1rem;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  padding: 0.5rem;
  font-weight: normal;
}

@media (max-width: 480px) {
  .tooltipText {
    display: none;
  }
}
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  -webkit-animation: fade-bottom 1s ease-in;
          animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  -webkit-animation: fade-left 1s ease-in;
          animation: fade-left 1s ease-in;
}

.active.fade-right {
  -webkit-animation: fade-right 1s ease-in;
          animation: fade-right 1s ease-in;
}

@-webkit-keyframes fade-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.switch {
  padding: 1rem 2rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.darkModeSlider {
  background-color: #7F5A83;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid white;
}

.darkModeSlider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 22px;
}

input:checked + .darkModeSlider {
  background-color: #2b2b2b;
}

input:checked + .darkModeSlider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.darkModeSlider.round {
  border-radius: 34px;
}

.darkModeSlider.round:before {
  border-radius: 50%;
}

@media (max-width: 480px) {
  .switch {
    padding: 2rem 1.5rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}